<div class="container">
  <main id="content" class="error-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <div class="error-container">
          <h1 class="error-code">404</h1>
          <p class="error-info">
            Ops, parece que esta página não existe.
          </p>
          <p class="error-help mb">
            Se você tem certeza que esta página deveria existir, reporte-nos um bug!
          </p>
          <button type="button" class="btn btn-inverse">
            Reportar <i class="fa fa-bug text-warning ml-xs"></i>
          </button>
          <p class="error-help mb">
            ou
          </p>
          <button type="button" class="btn btn-inverse" (click)="back()">
            Voltar <i class="fa fa-left"></i>
          </button>
        </div>
      </div>
    </div>
  </main>

  <footer class="page-footer">
    2016 &copy; Sing. Admin Dashboard Template.
  </footer>
</div>